div#app {
    margin: 20px;
}

a#download {
    display: inline-block;
    padding-right: calc(var(--x, 100)*0.28px);
    padding-left: calc(var(--x, 100)*0.28px);
    width: auto;
    background-color: var(--element-bg, var(--primary));
    line-height: inherit;
    color: var(--btn-c, var(--white));
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    font-family: inherit;
    font-size: calc(var(--x, 100)*1%);
    position: relative;
    margin: .5rem .5rem .5rem 0;
    padding: calc(var(--x, 100)*0.08px) calc(var(--x, 100)*0.12px);
    box-sizing: border-box;
    outline: none;
}